.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #19d232;
    color: white;
    font-weight: 600;
  }

  .welcomeMessage{
    margin-left: 5vh;
    box-shadow: none;
    border: none;
    background-color: #19d232;
    color: white;
    font-weight: 800;
  }