<div id="container">
    <div class="classDiv" id="user">
        <H2>Usuario</H2>
            <p> Para aquellos que deseen reservar hoteles </p>
            <button class="buttonIniciarSesionUser" (click)="sendUserLogin()" >INICIAR SESION</button>
    </div>

    <div class="classDiv" id="hotel"> 
        <h2>Hotel</h2>    
            <p> Para aquellos que desean de publicar su hotel </p>
            <button class="buttonIniciarSesionHotel" (click)="sendHotelLogin()" >INICIAR SESION</button>
    </div>
    
</div>
